.jumbotron {
  text-align: center;
  font-family: monospace;
  background-color: pink;
  }

#pizza-time {
  text-align: center;
  font-family: monospace;
  background-color: pink;
}

#order {
  display: none;
  text-align: center;
}

body {
  background-image: url(../img/colors.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
